.heading {
    text-align: center;
    background-color: cyan;
    color: darkblue;
    font-family: fantasy;
    /* responsive  */
    font-size: 3vw;
}

.I_heading {
    background-color: teal;
    color: white;
}

.res {
    width: 25%;
    height: auto;
}

div,
p,
a,
q,
textarea,
input,
option,
select,
span {
    font-size: 18px;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid black;
}

input,
select {
    padding: 10px;
}

input,
textarea,
option,
select {
    background-color: rgba(189, 246, 241, 0.287);
}

#submit {
    background-color: cadetblue;
}

.media-heading {
    background-color: black;
    color: darkorange;
}

#addr_id {
    background-color: cyan;
    color: darkslategray;
}


/* adv. page linkup  */

.plink {
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    background-color: rgba(135, 206, 250, 0.664);
}

.plink a {
    border: 1px solid black;
    padding: 10px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
}

.plink a:hover {
    background-color: royalblue;
    color: black;
}

.plink span {
    padding-left: 40px;
}

#current {
    background-color: royalblue;
    color: black;
}

#current:hover {
    background-color: darkblue;
    color: white;
}